<?php

/**
 * Configuration array data
 */
return [
    'debug' => false,
    'locale' => 'en',
    'parameters' => [
        'google-auth' => [
            'clientId' => '',
            'clientSecret' => '',
            'callbackUrl' => 'http://localhost:8080/auth/callback'
        ]
    ]
];